<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>418669067562-mh73471mcum325k9t53a6ugnflggjlq2.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.418669067562-mh73471mcum325k9t53a6ugnflggjlq2</string>
	<key>API_KEY</key>
	<string>AIzaSyBq-VLq0QzqZe-9hfgDlvf5OtarHcWqu9I</string>
	<key>GCM_SENDER_ID</key>
	<string>418669067562</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.tm.live.concert.azico</string>
	<key>PROJECT_ID</key>
	<string>liveconcert-50e34</string>
	<key>STORAGE_BUCKET</key>
	<string>liveconcert-50e34.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:418669067562:ios:90acd6b4aa44eb30267253</string>
</dict>
</plist>